<head>
   <meta charset="utf-8">
	<title>Ресторан китайской кухни - меню, доставка еды ЮВАО, Люберцы</title>
	<meta name="description" content="Китайская еда с доставкой - лапша, пельмени, рис, спы. Ресторан Великая стена в г. Люберцы.">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	{{#each css}}
		<link rel="stylesheet" href="css/{{this}}"></link>
	{{/each}}
	<link rel="shortcut icon" href="img/ico.ico" type="image/x-icon">
</head>