<head>
   <meta charset="utf-8">
	<title>Ресторан грузинской кухни - меню, доставка еды ЮВАО, Люберцы</title>
	<meta name="description" content="Грузинская еда с доставкой - манты, шашлык, супы, салаты. Ресторан Саперави в г. Люберцы.">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	{{#each css}}
		<link rel="stylesheet" href="css/{{this}}"></link>
	{{/each}}
	<link rel="shortcut icon" href="img/ico.ico" type="image/x-icon">
</head>