	<div class="wrap" style="background: #eeeeee">
	<section class="header">
		<div class="wrap_menu">
			<div class="container">
				<div class="menu">
					<div class="logo" itemscope itemtype="http://schema.org/Restaurant">
						<a href="index.html"><img src="../img/logo_text.svg" alt="Рестора Великая стена" itemprop="logo" itemprop="photo"></a>
					</div>
					<div class="list_menu">
						<ul>
							<li><a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url">О ресторане</a></li>
							<li><a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" itemscope itemtype="http://schema.org/Restaurant" itemprop="url">Шеф</a></li>
							<li><a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url">Меню</a></li>
							<li><a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant">Резерв</a></li>
							<li><a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant">Отзывы</a></li>
							<li><a href="#" data-go="#contact" class="go_to">Контакты</a></li>
						</ul>
					</div>
					<div class="tel" itemscope itemtype="http://schema.org/Restaurant">
						<a href="tel:+74957444935" itemprop="telephone">+ 7(495)744-49-35</a>
					</div>
				</div>
				<div class="mobile_menu">
					<div class="logo" itemscope itemtype="http://schema.org/Restaurant">
						<img src="../img/logo_text.svg" alt="Китайский ресторан" itemprop="logo" itemprop="photo">
					</div>
						<a href="#" class="burger">
							<span></span>
						</a>
						<a href="tel:+74957444935" class="tell"><img src="../img/phone.svg" alt=""></a>
					<div class="sidemenu">
						<ul>
							<li class="has-children">
								<a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
									О ресторане
								</a>
								<ul>
								</ul>
							</li>
							<li>
								<a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
									Шеф
								</a>
							</li>
							<li>
								<a href="http://www.chinarestro.ru/deliver.html" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
									Меню
								</a>
							</li>
							<li>
								<a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
									Резерв
								</a>
							</li>
							<li>
								<a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
									Отзывы
								</a>
							</li>
							<li>
								<a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
									Контакты
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>