<div class="overlay">
	<div class="body_overlay">
		<div class="krest">
			<a href="#" class="burger">
				<span></span>
			</a>
		</div>
		<header>
			<img src="../img/saperavi/logo-text.svg" alt="">
		</header>
		<ul>
			<li class="has-children">
				<a class="page" href="/" itemscope itemtype="http://schema.org/Restaurant" itemprop="url">
					  О ресторане
				</a>
			<ul>
			</ul>
			</li>
			<li>
				<a href="/" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Шеф
				</a>
			</li>
			<li>
				<a href="/deliver" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Меню
				</a>
			</li>
			<li>
				<a href="/" class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Резерв
				</a>
			</li>
			<li>
				<a href="/" class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Отзывы
				</a>
			</li>
			<li>
				<a href="/" class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Контакты
				</a>
			</li>
		</ul>
	</div>
</div>