<div class="overlay">
</div>
	<div class="body_overlay">
		<div class="krest">
			<a href="#" class="burger">
				<span></span>
			</a>
		</div>
		<header>
			<img src="../img/logo_text.svg" alt="">
		</header>
		<ul>
			<li class="has-children">
				<a class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url">
					  О ресторане
				</a>
			<ul>
				<!--pod menu-->
			</ul>
			</li>
			<li>
				<a href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Шеф
				</a>
			</li>
			<li>
				<a href="http://www.chinarestro.ru/deliver.html" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Меню
				</a>
			</li>
			<li>
				<a href="main.html" class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Резерв
				</a>
			</li>
			<li>
				<a href="main.html" class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Отзывы
				</a>
			</li>
			<li>
				<a href="main.html" class="page" href="http://www.chinarestro.ru" itemscope itemtype="http://schema.org/Restaurant" itemprop="url" class="page">
					Контакты
				</a>
			</li>
		</ul>
	</div>