<!doctype html>
<html>
	{{>head}}
	{{>header}}
<body>
    {{{body}}}
    <!-- {{>slideBar}} -->
	{{>footer}}
	{{>slideBar}} 
</body>
	{{#if id}}
	<script type="text/javascript">
		var id = "{{id}}"
	</script>
	{{/if}}
	{{#each js}}
		<script src="{{this}}"></script>
	{{/each}}
</html>