<!doctype html>
<html>
	{{>head}}
	{{>header}}
<body>
    {{{body}}}
    <!-- {{>slideBar}} -->
	{{>footer}}
	<!-- {{>slideBar}} -->
</body>
	{{#each js}}
		<script src="{{this}}"></script>
	{{/each}}
</html>