	<section class="deliver">
		<div class="container">
			<div class="wrap_deliver">
				<h1>Meню</h1>
				<div class="toogle" itemscope itemtype="http://schema.org/Restaurant">
					<ul>
						<li class="active" data-menu="deliver">
							<img src="../img/rezerv_stolik.svg" width="50" alt="Основное меню"><span itemprop="hasMenu">Меню доставки</span>
						</li>
						<li data-menu="main">
							<img src="../img/rezerv_stolik.svg" width="50" alt="Меню доставки"><span itemprop="hasMenu">Основное меню</span>
						</li>
					</ul>
				</div>
			<div id="app"></div>
	</section>
</div><!--end wrap-->