<div class="wrap wrap_center" style="background: #eeeeee">	
	<section class="error">
		<div class="container">
			<h1>{{{message}}}</h1>
			{{#if login}}
				<a href="/login">Вернуться к форме входа</a>
			{{else}}
				<a href="/registration">Вернуться к форме регистрации</a>
			{{/if}}
	</section>
</div><!--end wrap-->