<div class="wrap wrap_center" style="background: #eeeeee">
	<section class="login">
		<div class="container">
			<div class="form">
				<form action="login" method="post">
					<h1>Войти в личный кабинет</h1>
					<p>
						<label for="email">Почта</label>
						<input type="text" name="email" placeholder="Почта">
					</p>
					<p>
						<label for="password">Пароль</label>
						<input type="text" name="password" placeholder="Пароль">
					</p>
					<button type="submit">Войти</button>
				</form>
			</div>
		</div>	
	</section>
</div><!--end wrap-->