	<section class="paralax">
		<div class="wrap_paralax">
			<div class="container">
				<div class="wrap_content" itemtype="http://schema.org/Restaurant">
					<div class="content">
						<div>
						<img src="../img/logo_vs.svg" alt="Ресторан китайской кухни Великая стена" itemprop="logo">
						</div>
						<h1 itemprop="name">Первый ресторан <span itemprop="servesCuisine">китайской кухни</span> <span itemprop="address"></br>в Люберцах</span></h1>
						<p itemprop="hasMenu">В основе меню кухня почти со всех регионов Китая</p>
						<a href="deliver.html">
							<button>
								Наше меню
							</button>
						</a>
					</div>
					<div class="logo_dostavka">
						<a href="deliver.html"><img src="../img/dostavka_pic.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div class="wrap_about">
			<div class="container">
				<div class="wrap_content">
					<h1>О ресторане</h1>
					<div class="wrap_items" itemscope itemtype="http://schema.org/Restaurant">
						<div class="item">
							<img src="../img/foto_resta.jpg" alt="" itemprop="photo">
						</div>
						<div class="item">
							<p itemprop="review">
							Ресторан Великая стена один из первых ресторанов в Люберцах. Китайские повара познакомят вас с настоящими традициями китайских блюд. Только у нас вы сможете отведать настоящие блюда китайской кухни. 
							</p>
							<p itemprop="review">
								Если вы желаете расслабиться в приятной обстановке и отведать кухню регионов Китая, тогда вам стоит посетить нас. 
							</p>
							<p itemprop="review">
								В ресторане 2 основных зала и  зона для проведения банкетов. Помимо основных залов есть комната с караоке и круглым традиционным китайским столом, а также несколько VIP-кабинетов, рассчитанных на 8-10 человек.  Вы всегда сможете заказать столик в нашем ресторане. Многие жители района, а также приезжие из других уголков Москвы и области традиционно проводят банкеты, с очень невысокими ценами. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cook" id="cook">
		<div class="wrap_cook">
			<div class="container">
				<div class="wrap_content">
					<div class="wrap_items">
						<div class="item" itemscope itemtype="http://schema.org/Restaurant">
							<h2>Шеф повар</br><span itemprop="employee">Чжан Юйлу</span></h2>
							<h3><span itemprop="employee">Zhang Yulu<span></h3>
							<p itemprop="review">
								Шеф повар ресторана «Великая стена» Чжан Юйлу (Zhang Yulu) собрал самые яркие блюда со всего Китая. Чжан Юйлу родился в городе Цзилинь и учился у самого знаменитого повара Лю Го Дун в городе Шеньян в северной части Китая. 
							</p>
							<p itemprop="description">
								Также в разработке меню принял непосредственное участие мастер китайской кухни с многолетним стажем, известный бренд-шеф Цзинь Фучунь (Tszin Fuchun), который привнес в классические блюда современные акценты
							</p>	
						</div>
						<div class="item cook_pos">
							<img src="../img/cook-min.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="menu_res">
		<div class="wrap_menu_res">
			<div class="container">
				<div class="wrap_content">
					<div class="wrap_items">
						<div class="item dec_menu" itemscope itemtype="http://schema.org/Restaurant">
							<h3>Меню</h3>
							<p itemprop="review">
								Блюда китайской кухни – одни из самых полезных. Помимо питательных свойств, некоторым китайским блюдам присущи и лечебные свойства: существуют даже такие оригинальные шедевры, как супы от головной боли или от гриппа. При этом продуманное сочетание продуктов способствует правильному пищеварительному процессу и не вызывает ожирения. Китайцы едят все, что могут приготовить – этот факт известен во всем мире. Разнообразие китайской национальной кухни настолько велико, что с ней вряд ли сравнится какая-либо другая традиционная кулинария. Весь ассортимент китайских блюд можно условно разделить в зависимости от региона проживания.
							</p>
							<a href="deliver.html"><button>Подробнее</button></a>
						</div>
						<div class="item utka" itemscope itemtype="http://schema.org/Restaurant">
							<img src="../img/utka-min.png" alt="" itemprop="photo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="book_in" id="book_in">
		<div class="wrap_book_in">
			<div class="container">
				<div class="wrap_content">
					<h2>Резерв</h2 itemscope itemtype="http://schema.org/Restaurant">
					<form action="send.php" method="POST" id="form">
					<div class="wrap_items" >
						<div class="item">
							<div class="out_img">
								<img src="../img/rezerv_stolik.svg" alt="">
							</div>
							<input type="checkbox" name="table" value="Стол" id="table">
							<label for="table"><span></span><em itemprop="event">Столик</em></label>
						</div>
						<div class="item">
							<div class="out_img">
								<img src="../img/rezerv_dr.svg" alt="">
							</div>							
							<input type="checkbox" name="birthday" value="День рождения" id="birthday">
							<label for="birthday"><span></span><em itemprop="event">День рождения</em></label>
						</div>
						<div class="item">
							<div class="out_img">
								<img src="../img/rezerv_svadba.svg" alt="">	
							</div>
							<input type="checkbox" name="wedding" value="Свадьба" id="wedding">
							<label for="wedding"><span></span><em itemprop="event">Свадьба</em></label>
						</div>
						<div class="item">
							<div class="out_img">
							<img src="../img/rezerv_banket.svg" alt="">	
							</div>
							<input type="checkbox" name="selebrate" value="Банкет" id="selebrate">
							<label for="selebrate"><span></span><em itemprop="event">Банкет</em></label>
						</div>
					</div>
					<!-- <div class="wrap_inputs"> -->
						<div class="wrap_inputs">
							<div class="item input">
								<input type="text" placeholder="Ваше имя" name="name" required>
							</div>
							<div class="item input">
								<input type="text" id="phone" name="phone" placeholder="Телефон" required>
							</div>
							<div class="item"><button type="submit">Отправить</button></div>
						</form>
				
					<!-- </div> -->
				</div>
			</div>
		</div>
	</section>
	<section class="feel_back" id="feel_back">
		<div class="wrap_feel_back">
			<div class="container">
				<div class="wrap_content">
					<h3>Отзывы</h3>
					<div class="owl-carousel owl-theme">
						<div class="item">
							<p>Юлия Гулина, 10 Июля 2017
							<span class="zvezda">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
							</span>
							</p>
							<p>Отмечали день рождения дочери, 2 годика. Прекрасный сервис и неплохая кухня. Ребёнку подарили большой шарик. Для маленьких гостей в зале включили музыку и светоэффекты, предоставили игрушки каталки. Персонал очень внимательный.</p>
						</div>
						<div class="item">
							<p>Asya Gar, 15 июля 2017
							<span class="zvezda">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
							</span>
							</p>
							<p>Не придраться кухни и обслуживание отличное. Антураж не совсем китайский. А в остальном прям рекомендую</p>
						</div>
						<div class="item">
							<p>Александр Герасимов, 29 июля 2017
							<span class="zvezda">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
								<img src="../img/zvezda.svg" alt="">
							</span>
							</p>
							<p>На мой вкус, лучший ресторан китайской кухни в нашей округе (а может и не только в нашей)!
Готовят китайские повара. Готовят быстро. Порции нормального размера. Приветливый персонал. Осталось только закончить переоформление помещения.
</p>
						</div>
					</div>
					<a href="https://www.google.ru/search?newwindow=1&q=%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%B0%D1%8F+%D1%81%D1%82%D0%B5%D0%BD%D0%B0+%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD&oq=%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%B0%D1%8F+%D1%81%D1%82%D0%B5%D0%BD%D0%B0+%D1%80%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD&gs_l=psy-ab.3..0l4.1708.3109.0.3264.9.8.0.0.0.0.162.729.3j4.7.0....0...1.1.64.psy-ab..2.7.728.-b5f3nEsHXs#lrd=0x414ab61386daaa2b:0xe5aa4fe16a11f3bd,1,"><button>Другие отзывы</button></a>
				</div>
			</div>
		</div>
	</section>
	<section class="map">
		<div class="wrap_map">
			<div class="content">
				<div id="map" itemtype="http://schema.org/Restaurant" itemprop="hasMap" itemprop="geo">
					
				</div>
			</div>
		</div>
	</section>