<div class="wrap" style="background: #eeeeee">
	<section class="profile">
		<div class="container">
			<ul>
				<li>{{{name}}}</li>
				<li>{{{email}}}</li>
			</ul>
		</div>
	</section>
</div><!--end wrap-->