<div class="wrap wrap_center" style="background: #eeeeee">
	<section class="registration">
		<div class="container">
			<form method="post" action="/registration" class="registr">
				<h1>Регистрация</h1>
				
				<p>
					<label for="name">Имя</label>
					<input type="text" name="name" placeholder="Имя">
				</p>

				<p>
					<label for="email">Почта</label>
					<input type="text" name="email" placeholder="Почта">
				</p>

				<p>
					<label for="password">Пароль</label>
					<input type="password" name="password" placeholder="Пароль">
				</p>

				<p>
					<label for="confirmPassword">Подтверждения пароля</label>
					<input type="password" name="confirmPassword" placeholder="Подтверждения пароля">
				</p>
				<p>
					<button type="submit">Зарегистрироваться</button>
				</p>
			</form>
		</div>
	</section>
</div><!--end wrap-->